[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-api-python-client = "*"
oauth2client = "*"
zroya = {version = "*", sys_platform = "== 'win32'"}
pync = {version = "*", sys_platform = "== 'darwin'"}

[requires]
python_version = "3"
